﻿@using System.Globalization
@using DbLocalizationProvider
@using DbLocalizationProvider.AspNetCore
@using NetCoreLocalization.Resources
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model UserViewModel
@inject IViewLocalizer Localizer
@inject LocalizationProvider Provider
@inject IHtmlLocalizer<SampleResources> Localizer2
@{
    ViewData["Title"] = "Home Page";
    var currentCulture = Context.Features.Get<IRequestCultureFeature>()?.RequestCulture?.UICulture;

    var localized = Provider.Translate<SampleResources>();
}

<div class="text-center">
    <h1 class="display-4">@localized.PageHeader</h1>
    @*<h1>@Localizer2.GetStringByCulture(r=>r.PageHeader, new CultureInfo("my"))</h1>*@
    <p>@currentCulture</p>
</div>
