﻿@model UserViewModel
@{
    ViewData["Title"] = "User";
}

<div class="text-center">
    <h1 class="display-4">User</h1>
</div>

<form>
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
    </div>
    <div>
        <label asp-for="IDNo"></label>
        <input asp-for="IDNo" />
    </div>
    <button type="submit" style="width:200px">Add</button>
</form>
